<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">


</head>
<body>
	<input type="text" id="youtubeTopic">
	<button>유튜브 검색</button>
	<div></div>
	<hr>
	<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script>
		$('button').click(function() {
			 
			$.ajax({
				url : '/getYoutube',
				type : 'get',
				data : {
					'youtubeTopic' : $('#youtubeTopic').val()
				},
				success : function(res) {
					var items = res.items;
					for ( var i in items) {
						var title = items[i].snippet.title;
						var description = items[i].snippet.description;
						console.log(description);
						var thumbnails = items[i].snippet.thumbnails.medium.url;
						var datetime = items[i].snippet.publishedAt;
						var videoId = items[i].id.videoId;
						var url = "https://www.youtube.com/watch?v="+videoId;
						var tag = "";
						tag += "<ul>";
						tag += "<li> Title : " + title + "</li>";
						tag += "<img src =" + thumbnails +">";
						tag += "<li> description =" + description +"</li>";
						tag += "<li> URL : " + url + "</li>";
						tag += "<li> datetime : " + datetime + "</li>";
						tag += "</ul>";
						$("hr").after(tag);

					}
				}

			})
		})
	</script>